html, body {
    width: 100%;
    height: 100%; 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background-color: black;
}
/*隐藏 cesium logo*/
.cesium-viewer-bottom{
    display: none !important;
}
/*E*/
/*cesium窗体S*/
#cesiumContainer{
	position: absolute;
    top: 8%;
    height: 92%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
}
/*E*/
/*加载中S*/
.loadingIndicator {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    width: 66px;
    height: 66px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/page/ajax-loader.gif);
}
/*E*/
/*LOGO聚焦时样式*/
.navbar-brand span{
    color: white;
    font-size: 28px;
}
/*!*E*!*/

/*导航栏聚焦时样式*/
.nav > li > a:focus {
    text-decoration: none;
    background-color: black !important;
    color: white;
}
/*导航栏LI S*/
.navbar{
    background-color: #303336;
    height: 8%;
}
.nav li img{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.nav li {
    display: inline-block;
}
.nav li a:hover {
    background-color: #104E8B !important;
    color: white !important;
}
.dropdown-menu li{
    width: 100%;
}
/*LOGO S*/
.navbar-brand a:focus{
    color: white;
}
/*E*/

/*功能操作弹框*/
.functionWin{
	position: fixed;
	top:10% ;
	left: 0%;
    overflow: hidden;
    display: none;
    border-radius: 8px;
    min-width: 160px;
    z-index: 2000;
}

.functionWin [type=checkbox]
{
	width: 18px;
	height: 18px;
}
.functionWin select
{
	height: 80%;
}
.functionWin [type=text]{
    height: 80%;
    max-width: 150px;
}
.functionWin [type=button]{
	border-radius: 4px;
}
.functionWin [type=button]:hover{
	background-color: gray;
}
.row div{
	padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}
.functionWin .title{
	position: absolute;
	top: 6px;
	left: 8px;
	font-weight: 900;
}
/* 头部 */
.functionWin .head{
    border-bottom: 1px solid #C4C4C4;
    width: 100%;
    height: 36px;
    background: linear-gradient(#C4C4C4, white,#C4C4C4);
    /* min-width: 160px; */
}
/* 内容 */
.functionWin .content{
    padding:8px 12px 12px 8px;
    background-color: white;
    width: 100%;
    min-height: 60px;
}
/*win 头部功能按钮*/
.headfun_win{
	position: relative; 
    padding: 6px;
    float: right;
}
.headfun_win {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
  }
  .headfun_win:hover,
  .headfun_win:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
  }
/*E*/

/*导航栏S*/
.cesium-viewer-toolbar{
	position: fixed !important;
    top: 10% !important;

}
/*E*/

/* 字体设置 */ 
.font-center{
    text-align: center;
}


/*  默认样式 */
/* 浏览器自定义 */
hr {
    margin: 8px 0px !important;
    height: 2px !important;
    background-color: gray !important;
}

/* 自定义常量样式 */
.rowText{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.4em;
}

/* S滑块样式 */
.slider{
    height: px;
    min-width: 180px;
}
.slider .ui-slider-handle{
    height: 28px;
    min-width: 20px;
    background-color: #303336;
}

/* 图标div */
.chartdiv{
    width: 400px;
    height: 300px;
}