/*工具条容器*/
.toolbar-container{
	position: fixed;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid black;
	/*top: 20%;
	left: 75%;*/
	z-index: 2000;
	border-radius:  10px;
	background-color: gray;
}
.toolbar{
	padding: 0;
	margin: 0;
}
.toolbar li{
	float: right;
	list-style: none;
	text-align: center;
	padding: 3px;
	border-right:1px solid black; ;
}
.toolbar li:hover{
	background-color: #1B6D85;
}
.toolbar li div{
	width: 32px;
	height: 32px;
	display: inline-block;
	/*background-color: gray;*/
}
.toolbar span{
	color: cornflowerblue;
	position: relative;
	top: -10px;
}

/*cesium 自定义样式*/


#toolbar_div{
	position: fixed;
	right: 0%;
	top: 20%;
	display: block;
	width: 200px;
	height: 300px;
	background-color: red;
	z-index: 2000;
	opacity: 0.5;
}